name: Benchmark

on:
  pull_request:
    branches: [main]

  push:
    branches: [main]

  merge_group:

  workflow_dispatch:

jobs:
  benchmark:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      matrix:
        os: [macos-15]
        case: [react-1k, react-5k, react-10k, ui-components, rome]

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.18.0

      - name: Install Pnpm
        run: |
          npm i -g corepack@latest -g --force && corepack enable
          npm i cross-env -g
          pnpm -v

      - name: Install Dependencies
        run: pnpm install && npx puppeteer browsers install chrome

      - name: Run Benchmark
        run: cross-env CASE=${{ matrix.case }} pnpm benchmark
